<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
  <p>Dear Sir,</p>
  <p>Greetings for the day!!</p>
  
  
    
    <p> Congratulations you have won the project {{ProjectName}} with OrderNumber : {{OrderNo}}</p>
    <p>Currently the project is on "COMMERCIAL HOLD". Please contact accounts team to procoess the project further.<p>

    <p>Click on following link to get Ledger Details </p>

    <a href="http://3.109.31.86/ledgerdetail/{{OrderSerial}}">Ledger Details</a>


    <p>Grand Total : {{GranTot}}</p>
    <p>Discount : {{Dis}}</p>
    <p>Final Amount : {{FinAmt}}</p>
    <p>Waltz Associate : {{ProjectAss}}</p>

    <p>Kindly follow the below steps to proceed further : </p>
    <p>1. Upload the latest Floor Plan.</p>
    <p>2. Mark up the Punches as per the locations.</p>
    <p>READY FOR REVIEW project level</p>
      
      
    
    <p>Have a good day!!</p>
     <p>Thanks & Regards,</p>
     <p>JB GLASS</p>
  </body>
</html>
