<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
        <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
        </style>
  </head>
  <body>
  <p>Dear Sir,</p>
  <p>Greetings for the day!!</p>
  
  
    
    <p>Monthly Report for Incentive for the month {{monthlast}} 2023 </p>

     <h3><a href="http://3.109.31.86/incentivereport">GET DETAILED PDF AND EXCEL</a></h3>
   


    
 
<h3>WA ANKIT AGGARWAL</h3>

  <table class="table table-striped" style="margin-top: 40px;">
                  <thead style="color:#fff; background: #000; ">
                    <tr >
                      <th style="text-align: center;">Particulars</th>
                      <th style="text-align: center;">{{monthlast}} '23</th>
                      <th style="text-align: center;">{{monthsecond}} '23</th>
                      <th style="text-align: center;">{{monththird}} '23</th>
                     
                    </tr>
                  </thead>
                  <tbody>
            
                    
                    <tr  style=" border: 1px ">
                      <td>Incentive</td>
                      <td>Rs. {{ankitlastincentive}}</td>
                      <td>Rs. {{ankitsecondincentive}}</td>
                      <td>Rs. {{ankitthirdincentive}}</td>
                    </tr>
            
                    <tr  style=" border: 1px ">
                      <td>Collection</td>
                      <td>Rs. {{ankitlastcollection}}</td>
                      <td>Rs. {{ankitsecondcollection}}</td>
                      <td>Rs. {{ankitthirdcollection}}</td>
                    </tr>
                   
                    <tr >
                      <td>Proj Count_col</td>
                      <td>{{ankitlastcount}}</td>
                      <td>{{ankitsecondcount}}</td>
                      <td>{{ankitthirdcount}}</td>
                    </tr>
            
                  </tbody>
                </table>

 
<h3>WA SHASHANK SINGH</h3>


            <table class="table table-striped" style="margin-top: 40px;">
                <thead style="color:#fff; background: #000; ">
                  <tr >
                    <th style="text-align: center;">Particulars</th>
                    <th style="text-align: center;">{{monthlast}} '23</th>
                    <th style="text-align: center;">{{monthsecond}} '23</th>
                    <th style="text-align: center;">{{monththird}} '23</th>
                   
                  </tr>
                </thead>
                <tbody>

                  
                  <tr  style=" border: 1px ">
                    <td>Incentive</td>
                    <td>Rs. {{shashanklastincentive}}</td>
                    <td>Rs. {{shashanksecondincentive}}</td>
                    <td>Rs. {{shashankthirdincentive}}</td>
                  </tr>

                  <tr  style=" border: 1px ">
                    <td>Collection</td>
                    <td>Rs. {{shashanklastcollection}}</td>
                    <td>Rs. {{shashanksecondcollection}}</td>
                    <td>Rs. {{shashankthirdcollection}}</td>
                  </tr>
                 
                  <tr >
                    <td>Proj Count_col</td>
                    <td>{{shashanklastcount}}</td>
                    <td>{{shashanksecondcount}}</td>
                    <td>{{shashankthirdcount}}</td>
                  </tr>

                </tbody>
              </table>



 
<h3>SOCIAL</h3>

 <table class="table table-striped" style="margin-top: 40px;">
                      <thead style="color:#fff; background: #000; ">
                        <tr >
                          <th style="text-align: center;">Particulars</th>
                          <th style="text-align: center;">{{monthlast}} '23</th>
                          <th style="text-align: center;">{{monthsecond}} '23</th>
                          <th style="text-align: center;">{{monththird}} '23</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                
                        
                        <tr  style=" border: 1px ">
                          <td>Incentive</td>
                          <td>Rs. {{anujlastincentive}}</td>
                          <td>Rs. {{anujsecondincentive}}</td>
                          <td>Rs. {{anujthirdincentive}}</td>
                        </tr>
                
                        <tr  style=" border: 1px ">
                          <td>Collection</td>
                          <td>Rs. {{anujlastcollection}}</td>
                          <td>Rs. {{anujsecondcollection}}</td>
                          <td>Rs. {{anujthirdcollection}}</td>
                        </tr>
                       
                        <tr >
                          <td>Proj Count_col</td>
                          <td>{{anujlastcount}}</td>
                          <td>{{anujsecondcount}}</td>
                          <td>{{anujthirdcount}}</td>
                        </tr>
                
                      </tbody>
                    </table>







  




   
  
    
    <p>Have a good day!!</p>
     <p>Thanks & Regards,</p>
     <p>JB GLASS</p>
  </body>
</html>
